﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#footer {
    background: #FFFBFF;
}

button:focus {outline:none;}

img:focus {outline:none;}

/* Page-level styles */

.movieContainer {
    position: relative;
    margin-bottom: 110px; /* so there is space for text*/
}

.textAndIconsContainer {
    position: absolute;
    top: 235px;
}

.textAndIconsContainer .starIcon {
    position: absolute;
    left: 5px;
}

.textAndIconsContainer .watchIcon {
    position: absolute;
    left: 40px;
    top: -3px;
}

.textAndIconsContainer .nfIcon {
    position: absolute;
    left: 80px;
    top: 7px;
}

.textAndIconsContainer .textContainer {
    position: absolute;
    top: 30px;
}

.textAndIconsContainer .textContainer .numberOfRatings {
    position: absolute;
    top: 0px;
    /*background: red;*/
}

.textAndIconsContainer .textContainer .starRating {
    position: absolute;
    left: 50px;
}

.textAndIconsContainer .textContainer .genreString {
    position: absolute;
    top: 20px;
    width: 154px;
    /*background: red;*/
}

.textAndIconsContainer .textContainer .dateImported {
    position: absolute;
    left: 95px;
    /*top: 40px;
    width: 154px;*/
    /*background: red;*/
}





