﻿
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<p>@*Link time: @ViewBag.LinkTimeLocal*@</p>

@*<p>Time (HttpRuntime.Cache) Absolute Expiration after 5s: @ViewBag.Time</p>
<p>Time (HttpRuntime.Cache) Sliding Expiration after 3s: @ViewBag.TimeToDisplaySliding</p>*@

@DateTime.Now.ToString("yyyy-MM-dd hh:mm:ss")

Message:
<form method="post">
    <input type="text" name="message"/>
    <input type="submit"/>
</form>

@ViewBag.Message