﻿@using System.Reflection
@using MoviesWeb.Controllers
@using MoviesWeb.Models
@model IEnumerable<TMDBSearchResult>

@{
    ViewBag.Title = "Dave's Movies";
    var list = (List<Movie>)ViewBag.Movies;
    var similarMovies = (List<Movie>)ViewBag.SimilarMovies;
    var genresTicked = (string[])ViewBag.Genres ?? new string[] { };
    var wl = (bool)ViewBag.WL;
    var starred = (bool)ViewBag.IsStarredListSelected;
}

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <input id="searchTerm" name="searchTerm" type="text" placeholder="Movie name" value="@ViewBag.SearchTerm" />
    <button type="submit" class="btn btn-link" name="p" value="@ViewBag.PreviousPage">Previous Page << </button>
    <button type="submit" class="btn btn-link" name="p" value="@ViewBag.NextPage"> Next Page >></button>
    <input type="hidden" name="submitButtonLastValue" value="@ViewBag.SubmitButtonLastValue" />

    <div class="container">
        <div class="row">
            <input type="checkbox" name="wl" id="wl" @(wl ? "checked=\"checked\"" : "")>
            <label for="wl">WatchList</label>

            <input type="checkbox" name="starred" id="starred" @(starred ? "checked=\"checked\"" : "")>
            <label for="starred">StarredList</label>

        </div>
        <!-- filter genre checkboxes-->
        <div class="row">
            <div class="col-md-12">
                @foreach (Genre genre in Enum.GetValues(typeof(Genre)))
                {
                    // string value of the enum eg Adventure
                    var x = genre.ToString();
                    // is it already checked coming back from controller?
                    if (genresTicked.Contains(x))
                    {
                        <input type="checkbox" name="g" value="@x" id="@x" checked="checked">
                        <label for="@x">@x</label>
                    }
                    else
                    {
                        <input type="checkbox" name="g" value="@x" id="@x">
                        <label for="@x">@x</label>
                    }
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="submit" name="submitButton" value="@ViewBag.OrderByPopularity" />
                <input type="submit" name="submitButton" value="@ViewBag.OrderByStarRating" />
                <input type="submit" name="submitButton" value="@ViewBag.OrderByMostRecentlyAdded" />
                <select name="numberPerPage">
                    <option value="6" @(ViewBag.NumberPerPage == "6" ? "selected=\"selected\"" : "")>6</option>
                    <option value="12" @(ViewBag.NumberPerPage == "12" ? "selected=\"selected\"" : "")>12</option>
                    <option value="24" @(ViewBag.NumberPerPage == "24" ? "selected=\"selected\"" : "")>24</option>
                    <option value="100" @(ViewBag.NumberPerPage == "100" ? "selected=\"selected\"" : "")>100</option>
                    <option value="20000" @(ViewBag.NumberPerPage == "20000" ? "selected=\"selected\"" : "")>All</option>
                </select>
            </div>
        </div>
    </div>

    <div class="alert alert-danger" id="result" style="display: none;"></div>

    <!-- Main list of movies-->
    <div class="container">
        <!-- display in chunks of 6 -->
        @for (int i = 0; i <= list.Count / 6; i++)
        {
            <div class="row">
                @foreach (var movie in list.Skip(i * 6).Take(6))
                {
                    var imdb = "tt" + movie.IMDBID;

                    var imgRecUnselected = "imgRecUnselected" + movie.MovieID;
                    var imgRecSelected = "imgRecSelected" + movie.MovieID;
                    var imgWatchUnselected = "imgWatchUnselected" + movie.MovieID;
                    var imgWatchSelected = "imgWatchSelected" + movie.MovieID;

                    var movieImageURL = "";
                    if (movie.TMDBPosterPath != null)
                    {
                        movieImageURL = "http://image.tmdb.org/t/p/w154/" + movie.TMDBPosterPath;
                    }
                    else if (movie.NetflixPosterPath != null)
                    {
                        movieImageURL = "http://" + movie.NetflixPosterPath;
                    }

                    string genreString = "";
                    foreach (Genre genre in Enum.GetValues(typeof(Genre)))
                    {
                        Type type = movie.GetType();
                        PropertyInfo[] properties = type.GetProperties();

                        foreach (PropertyInfo property in properties)
                        {
                            if (property.Name == genre.ToString())
                            {
                                var yy = (bool)property.GetValue(movie, null);
                                if (yy)
                                {
                                    genreString += property.Name + " ";
                                }
                            }
                        }
                    }

                    <!-- not sure if we still need this container-->
                    <div class="col-md-2">

                        <!-- A Movie -->
                        <div class="movieContainer">
                            <!-- Main Image-->
                            <div class="imageContainer">
                                <a href="http://www.imdb.com/title/@imdb/" title="@movie.Title">
                                    <img src="@movieImageURL" />
                                </a>
                            </div>
                            <!-- Text and Icons-->
                            <div class="textAndIconsContainer">
                                <div class="starIcon">
                                    <button class="buttonRec" type="button" id="@movie.MovieID" style="border: 0; background: transparent;">
                                        @if (movie.OnStarredList)
                                        {
                                            <img id="@imgRecUnselected" src="/Content/Images/star_off.png" width="25" height="25" style="display: none" title="Recommend" />
                                            <img id="@imgRecSelected" src="~/Content/Images/star_on.png" width="25" height="25" style="display: block" title="Un-recommend" />
                                        }
                                        else
                                        {
                                            <img id="@imgRecUnselected" src="/Content/Images/star_off.png" width="25" height="25" style="display: block" title="Recommend" />
                                            <img id="@imgRecSelected" src="~/Content/Images/star_on.png" width="25" height="25" style="display: none" title="Un-recommend" />
                                        }
                                    </button>
                                </div>
                                <div class="watchIcon">
                                    <button class="buttonWatchList" type="button" id="@movie.MovieID" style="border: 0; background: transparent;">
                                        @if (movie.OnWatchList)
                                        {
                                            <img id="@imgWatchUnselected" src="/Content/Images/WL_off.png" width="25" height="25" style="display: none" title="Add to My Watchlist" />
                                            <img id="@imgWatchSelected" src="~/Content/Images/WL_on.png" width="25" height="25" style="display: block" title="Remove from My Watchlist" />
                                        }
                                        else
                                        {
                                            <img id="@imgWatchUnselected" src="/Content/Images/WL_off.png" width="25" height="25" style="display: block" title="Add to My Watchlist" />
                                            <img id="@imgWatchSelected" src="~/Content/Images/WL_on.png" width="25" height="25" style="display: none" title="Remove from My Watchlist" />
                                        }
                                    </button>
                                </div>
                                <div class="nfIcon">
                                    <a href="https://www.netflix.com/title/@movie.NetflixURL">NF</a>
                                </div>

                                <div class="textContainer">
                                    <div class="numberOfRatings">@movie.NumberOfRatings</div>
                                    <div class="starRating">(@movie.StarRating)</div>
                                    <div class="genreString">@genreString</div>
                                    @* initial big import was on 01/08/16*@
                                    <div class="dateImported">
                                        @if (movie.DateImported.Day != new DateTime(2016, 08, 01).Day)
                                        {
                                            @movie.DateImported.ToString("dd/MM/yy")
                                        }
                                    </div>
                                </div>

                            </div> <!-- end textAndIcons container-->
                        </div> <!-- end movie container-->
                    </div>
                }
            </div>
        }
    </div>
}
<!-- similar list of movies-->
<h1>Similar Movies</h1>
<div class="container">
    <!-- display in chunks of 6 -->
    @*@for (int i = 0; i <= similarMovies.Count / 6; i++)
        {*@
    <div class="row">
        @{
            if (similarMovies != null)
            {
                foreach (var movie in similarMovies)
                {
                    var imdb = "tt" + movie.IMDBID;
                    <div class="col-md-2">
                        @{
                            var imgRecUnselected = "imgRecUnselected" + movie.MovieID;
                            var imgRecSelected = "imgRecSelected" + movie.MovieID;
                            var imgWatchUnselected = "imgWatchUnselected" + movie.MovieID;
                            var imgWatchSelected = "imgWatchSelected" + movie.MovieID;

                            string genreString = "";
                            foreach (Genre genre in Enum.GetValues(typeof(Genre)))
                            {
                                var x = genre.ToString();
                                Type type = movie.GetType();
                                PropertyInfo[] properties = type.GetProperties();

                                foreach (PropertyInfo property in properties)
                                {
                                    if (property.Name == x)
                                    {
                                        bool yy = (bool)property.GetValue(movie, null);
                                        if (yy)
                                        {
                                            genreString += property.Name + " ";
                                        }
                                    }
                                }
                            }
                        }
                        <a href="http://www.imdb.com/title/@imdb/" title="@movie.Title">
                            <img src="http://image.tmdb.org/t/p/w154/@movie.TMDBPosterPath" />
                        </a>

                        <button class="buttonRec" type="button" id="@movie.MovieID" style="border: 0; background: transparent;">
                            @if (movie.OnStarredList)
                            {
                                <img id="@imgRecUnselected" src="/Content/Images/star_off.png" width="25" height="25" style="display: none" title="Recommend" />
                                <img id="@imgRecSelected" src="~/Content/Images/star_on.png" width="25" height="25" style="display: block" title="Un-recommend" />
                            }
                            else
                            {
                                <img id="@imgRecUnselected" src="/Content/Images/star_off.png" width="25" height="25" style="display: block" title="Recommend" />
                                <img id="@imgRecSelected" src="~/Content/Images/star_on.png" width="25" height="25" style="display: none" title="Un-recommend" />
                            }
                        </button>
                        <button class="buttonWatchList" type="button" id="@movie.MovieID" style="border: 0; background: transparent;">
                            @if (movie.OnWatchList)
                            {
                                <img id="@imgWatchUnselected" src="/Content/Images/WL_off.png" width="25" height="25" style="display: none" title="Add to My Watchlist" />
                                <img id="@imgWatchSelected" src="~/Content/Images/WL_on.png" width="25" height="25" style="display: block" title="Remove from My Watchlist" />
                            }
                            else
                            {
                                <img id="@imgWatchUnselected" src="/Content/Images/WL_off.png" width="25" height="25" style="display: block" title="Add to My Watchlist" />
                                <img id="@imgWatchSelected" src="~/Content/Images/WL_on.png" width="25" height="25" style="display: none" title="Remove from My Watchlist" />
                            }
                        </button>
                        @if (movie.NetflixURL != null)
                        {
                            <a href="https://www.netflix.com/title/@movie.NetflixURL">NF</a>
                        }
                        @movie.NumberOfRatings (@movie.StarRating)
                        @genreString
                    </div>
                                }
                            }
        }
    </div>
</div>

<button type="submit" class="btn btn-link" name="p" value="@ViewBag.PreviousPage">Previous Page << </button>
<button type="submit" class="btn btn-link" name="p" value="@ViewBag.NextPage"> Next Page >></button>

@section Scripts {
    <script>
        $(document)
            .ajaxError(function (event, jqxhr, settings, exception) {
                console.log("ajax error");
                if (jqxhr.status == 401) {
                    $("div.log").text("Triggered ajaxError handler.");
                    alert("ajax 401");
                }
            });

        $()
            .ready(function () {
                // RecommendMovie
                $(".buttonRec")
                    .click(function () {
                        console.log("button rec");
                        $.ajax({
                            url: '/Home/RecommendMovie',
                            type: 'POST',
                            data: JSON.stringify({
                                movieID: $(this).attr('id')
                            }),
                            contentType: 'application/json; charset=utf-8',
                            success: function (result) {
                                console.log("Recommend success and movieID is " + result.movieID);

                                if (result.movieID == undefined) {
                                    console.log("caught undefined as MovieID is " + result.movieID);
                                    $('#result').text("Please login so I can save your Recommendation!!!");
                                    $('#result').css('display', 'block');
                                }

                                if ($('#imgRecSelected' + result.movieID).css('display') == 'none') {
                                    $('#imgRecSelected' + result.movieID).css('display', 'block');
                                    $('#imgRecUnselected' + result.movieID).css('display', 'none');
                                } else {
                                    $('#imgRecSelected' + result.movieID).css('display', 'none');
                                    $('#imgRecUnselected' + result.movieID).css('display', 'block');
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                console.log(textStatus, errorThrown);
                                alert("error: " + textStatus + " " + errorThrown);
                            }
                        });
                    });

                // WatchList
                $(".buttonWatchList")
                    .click(function () {
                        console.log("watchlist");
                        $.ajax({
                            url: '/Home/AddMovieToWatchList',
                            type: 'POST',
                            data: JSON.stringify({
                                movieID: $(this).attr('id')
                            }),
                            contentType: 'application/json; charset=utf-8',
                            success: function (result) {
                                console.log("success and movieID is " + result.movieID);

                                // If the request is 401 unauthorised, it still returns a success
                                if (result.movieID == undefined) {
                                    console.log("caught undefined as MovieID is " + result.movieID);
                                    $('#result').text("Please login so I can save to your Watchlist!!!");
                                    $('#result').css('display', 'block');
                                }

                                if ($('#imgWatchSelected' + result.movieID).css('display') == 'none') {
                                    $('#imgWatchSelected' + result.movieID).css('display', 'block');
                                    $('#imgWatchUnselected' + result.movieID).css('display', 'none');
                                } else {
                                    $('#imgWatchSelected' + result.movieID).css('display', 'none');
                                    $('#imgWatchUnselected' + result.movieID).css('display', 'block');
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                console.log(textStatus, errorThrown);
                                alert("error: " + textStatus + " " + errorThrown);
                            }
                        });
                    });
            });
    </script>
}