﻿@using MoviesWeb.Controllers
@model MoviesWeb.Controllers.MovieResponseTomato

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>@ViewBag.URL</h4>
    <hr />
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        <input id="searchTerm" name="searchTerm" type="text" placeholder="Movie name" value="@ViewBag.SearchTerm" />
        <input type="submit" value="Search" />
    }

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Released)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Released)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Runtime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Runtime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Director)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Writer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Writer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlotShort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlotShort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlotFull)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlotFull)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Awards)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Awards)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Poster)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Poster)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Metascore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Metascore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imdbRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imdbRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imdbVotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imdbVotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imdbID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imdbID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tomatoMeter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tomatoMeter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tomatoImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tomatoImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tomatoRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tomatoRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tomatoReviews)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tomatoReviews)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tomatoFresh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tomatoFresh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tomatoRotten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tomatoRotten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tomatoConsensus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tomatoConsensus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tomatoUserMeter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tomatoUserMeter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tomatoUserRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tomatoUserRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tomatoUserReviews)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tomatoUserReviews)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tomatoURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tomatoURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DVD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DVD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoxOffice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoxOffice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Production)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Production)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Response)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Response)
        </dd>
        <img src="@Model.Poster" />


    </dl>
</div>

<div>
    <h4>@ViewBag.URLSearch</h4>
    <hr/>
    <dl class="dl-horizontal">

        @{ MovieResponseSearchRoot x = ViewBag.MRSR;}
        @x.totalResults
        @foreach (var a in x.Search)
        {
            <dt>Title</dt>
            <dd>@a.Title</dd>
            <dt>Year</dt>
            <dd>@a.Year</dd>
            <dt>IMDB</dt>
            <dd>@a.imdbID</dd>
            <dt>Type</dt>
            <dd>@a.Type</dd>
            <dt>Poster</dt>
            <dd>@a.Poster</dd>
            <br/>
        }
    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
