﻿@using MoviesWeb.Controllers
@model MoviesWeb.Controllers.TMDBSearchPerson

@{
    ViewBag.Title = "TMDBSearchPerson";
}

<h2>@Model.name</h2>

<div>
    <h4>TMDBSearchPerson</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.biography)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.biography)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birthday)
        </dd>

        @if (Model.deathday != "")
            {
            <dt>
                @Html.DisplayNameFor(model => model.deathday)
            </dt>

                <dd>
                    @Html.DisplayFor(model => model.deathday)
                </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.place_of_birth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.place_of_birth)
        </dd>
        @*"profile_sizes": [
            "w45",
            "w185",
            "h632",
            "original"
            ],*@
        <img src="http://image.tmdb.org/t/p/w185/@Model.profile_path" />
    </dl>
</div>
@{
    TMDBPersonMovieCredits x = ViewBag.TMDBPersonMovieCredits;
}
@*"w92",
    "w154",
    "w185",
    "w342",
    "w500",
    "w780",
    "original"*@
@foreach (var item in x.cast)
{
    <a href="/Home/TMDBDetail/@item.id"><img src="http://image.tmdb.org/t/p/w154/@item.poster_path" /></a>
}
