﻿@using System.Globalization
@using MoviesWeb.Controllers
@model MoviesWeb.Controllers.TMDBMovieResponse

@{
    ViewBag.Title = Model.title;
}

<h2>@Model.title</h2>

asdfsadf


<p>@Html.DisplayFor(model => Model.tagline)</p>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.release_date)
        </dt>

        <dd>
            @Model.release_date
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.overview)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.overview)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imdb_id)
        </dt>
        <dd>
            <a href="http://www.imdb.com/title/@Model.imdb_id/">@Model.imdb_id/</a>
        </dd>

        <dt>iTunes link</dt>
        @{
            var i = (ITunesResult)ViewBag.ITunes;
            Result j = new Result();
            // Did iTunes return any results from the title search?
            if (i.resultCount != 0)
            {
                j = i.results[0];
            }
        }
        <dd><a href="@j.trackViewUrl">@j.trackViewUrl</a> £@j.trackPrice</dd>

        @{
            List<AmazonInstantVideo> z = ViewBag.ListAmazonInstantVideo;
            if (z != null)
            {
                <dt>Amazon Instant Video</dt>
                foreach (var xx in z)
                {
                    <dd><a href="@xx.URL">@xx.Title</a></dd>

                }
            }
        }

        <dt>Cast</dt>
        @{
            TMDBCredits y = (TMDBCredits)ViewBag.TMDBCredits;
        }
        @*"profile_sizes": ["w45","w185","h632","original"*@
        @foreach (var item in y.cast.Take(7))
        {
            <dd><a href="/Home/TMDBSearchPerson?personID=@item.id"><img src="http://image.tmdb.org/t/p/w45/@item.profile_path" /></a> @item.name - @item.character</dd>
        }
        <dt>Crew</dt>
        @foreach (var item in y.crew.Take(5))
        {
            <dd>@item.name - @item.job</dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.budget)
        </dt>

        <dd>
            $@String.Format("{0:n0}", @Model.budget)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.revenue)
        </dt>

        <dd>
            $@String.Format("{0:n0}", @Model.revenue)
        </dd>

    </dl>
</div>
<img src="http://image.tmdb.org/t/p/w500/@Model.poster_path" />
<br />

@{
    TMDBImages x = (TMDBImages)ViewBag.TMDBImages;
}

<h3>Backdrops</h3>
@*"w300",
    "w780",
    "w1280",
    "original"*@
<table>
    @foreach (var item in x.backdrops)
    {
        <tr>
            <td>
                <img src="http://image.tmdb.org/t/p/w780/@item.file_path" />
            </td>
        </tr>
    }
</table>

@*<h3>Posters</h3>*@
@*"w92",
    "w154",
    "w185",
    "w342",
    "w500",
    "w780",
    "original"*@
@*<table>
    @foreach (var item in x.posters)
    {
        <tr>
            <td>
                <img src="http://image.tmdb.org/t/p/w342/@item.file_path" />
            </td>
        </tr>
    }
</table>*@
