﻿@using System.Reflection
@using MoviesWeb.Controllers
@using StackExchange.Profiling
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("All Netflix UK Movies", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Watchlist", "Index", "Home", new { wl = "on" }, null) </li>
                    <li>@*@Html.ActionLink("TMDBSearch", "TMDBSearch", "Home")*@</li>
                    <li>@*@Html.ActionLink("OMDB", "OMDB", "Home")*@</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
                @*@Html.Partial("_LoginPartial")*@
                @*@Html.RenderAction("_LoginPartial")*@
                @Html.Action("LoginPartial","Home")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <br />
    <br />
    <div id="footer">
        <div class="container text-center">
            <p class="text-muted credit">rev: @Html.Action("GetLinkerTime", "Home") (UKTime) @*@Assembly.GetExecutingAssembly().GetLinkerTime() (UK Time)*@</p>
            <p class="text-muted credit">
                Other projects:
                <a href="http://www.davestopmusic.com">davestopmusic.com</a>
                <a href="http://dmovies.azurewebsites.net">dmovies.azurewebsites.net</a>
                <a href="http://refactoring.azurewebsites.net">refactoring.azurewebsites.net</a>
            </p>
            <p class="text-muted credit">
                <img src="~/Content/Images/Twitter_logo_blue.png" width="20" height="20" /><a href="https://twitter.com/dave_mateer"> https://twitter.com/dave_mateer</a>
                <img src="~/Content/Images/Octocat.png" width="20" height="20" /> <a href="https://github.com/djhmateer"> https://github.com/djhmateer</a>
                <img src="~/Content/Images/mail-icon-128.png" width="20" height="20" /> davemateer@gmail.com
            </p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @MiniProfiler.RenderIncludes(position: RenderPosition.Left)
</body>
</html>
